<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.blogone.repository.BlogRepository">

    <select id="findAll" resultType="com.spring.blogone.entity.Blog">
        SELECT
            blog_id as blogId,
            writer,
            blog_title as blogTitle,
            blog_content as blogContent,
            published_at as publishedAt,
            updated_at as updatedAt,
            blog_count as blogCount
        FROM
            blog
    </select>

    <select id="findByID" resultType="com.spring.blogone.entity.Blog">
        SELECT
        blog_id as blogId,
            writer,
            blog_title as blogTitle,
            blog_content as blogContent,
            published_at as publishedAt,
            updated_at as updatedAt,
            blog_count as blogCount
        FROM
            blog
        WHERE
            blog_id = #{blogId}
    </select>

    <insert id="save" parameterType="com.spring.blogone.entity.Blog">
        INSERT INTO
            blog(writer, blog_title, blog_content)
        VALUES
            (#{writer}, #{blogTitle}, #{blogContent})
    </insert>

    <delete id="deleteById" parameterType="com.spring.blogone.entity.Blog">
        DELETE FROM
                   blog
        WHERE
            blog_id = #{blogId}
    </delete>

    <update id="update" parameterType="com.spring.blogone.entity.Blog">
        UPDATE
            blog
        SET
            blog_title = #{blogTitle},
            blog_content = #{blogContent},
            updated_at = now()
        WHERE
            blog_id = #{blogId}
    </update>
</mapper>